// $color-blue: #1010fc; ORIGNAL VERSION
$color-blue: #080ebb;
// $color-blue-light: #2424fd; ORIGINAL VERSION
$color-blue-light: #070ed6;
$color-blue-dark: #0000dd;

$color-black: #131316;
// $color-black-light: #191921; ORIGINAL VERSION
$color-black-light: #17171b;

$color-white: #efefef;
