// V1
// $color-blue: #1010fc;
// $color-blue-light: #2424fd;
// $color-blue-dark: #0000dd; //??

// $color-black: #0c0c0e; //??
// $color-black-light: #191921;
// $color-black-dark: #0f0f11; //?

// $color-white: #efefef;

// V2
// $color-blue: #080ebb;
// $color-blue-light: #070ed6;
// $color-blue-dark: #060b9c;

// $color-black: #131316;
// $color-black-light: #17171b;
// $color-black-dark: #0f0f11;

// $color-white: #efefef;

// // V3
// $color-blue-dark: #020879;
$color-blue: #080ebb;
$color-blue-light: #070ed6;
$color-blue-dark: #060b9c;

$color-black: #0d0e18;
$color-black-medium: #0e0e20;
$color-black-light: #111224;
$color-black-lightest: #373853;
$color-black-dark: #0f0f11;

$color-white: #efefef;
$color-white-dark: #bcc4e7;
